<!-- <div class="card" >
    <span class="card-img-top">
        <img [src]="tool.iconURL" alt="{{tool.name}}" srcset="">
    </span>
    <div class="card-body">
        <div class="card-text">{{tool.code}}</div>
        <h4 class="card-title">{{tool.name}}</h4>
        <div class="card-text">{{tool.label}}</div>
        <div class="card-text">{{tool.description}}</div>
        <div class="card-link">{{tool.addressUrl}}</div>
    </div>
</div>


 -->

<div class="conatiner">
    <div class="row">
        <div class="col">
            <div class="card" >
                <span class="card-img-top">
                    <img [src]="tool.iconURL" alt="{{tool.name}}" srcset="">
                </span>
                <div class="card-body">
                    <div class="card-text">{{tool.code}}</div>
                    <h4 class="card-title">{{tool.name}}</h4>
                    <div class="card-text">{{tool.label}}</div>
                    <div class="card-text">{{tool.description}}</div>
                    <div class="card-link">{{tool.addressUrl}}</div>
                </div>
            </div>
        </div>
</div>